#wrapper {
    margin: 1em auto;
    margin-top: 40px;
    width: 960px;
    background-color: rgb(244, 244, 244);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding-bottom:10px;
}

header {
    grid-column: span 12;
    background-color: gray;
    font-size: 25px;
    padding-left:10px;
    height:40px;
     font-family: "Jersey 10", sans-serif;
}

.float-container {
  padding-top: 5px;
  overflow: auto;
  font-size:19px;
}
 
.left-text {
  float: left;
  padding:5px;
}
 
.right-text {
  float: right;
  margin-right:5px;
  padding:5px;
  background-image: linear-gradient(to bottom, rgb(165, 165, 165), #8e8e8e, #606060);
}

h1 {
    grid-column: span 12;
    padding-left:40px;
    font-size:40px;
    padding-top:40px;
    margin:0px;
    font-family: "Workbench", sans-serif;
    font-variation-settings:
    "BLED" 0,
    "SCAN" -21;
}

h2 {
    grid-column:span 12;
    padding:0px;
    margin:0px;
    padding-left:100px;
    font-size:80px;
    font-family: "Jacquard 12", system-ui;
    font-style: italic;
}


main {
    grid-column:span 5;
    padding:30px;
    margin-left:10px;
    font-family: "Jersey 10", sans-serif;
    font-size:21px;
}

body {
 background-image: url(writing-modified.jpeg); 
 background-color:black;
}

.other {
    grid-column: span 7;
    margin:70px 50px 20px 0px;
    padding:0px;
    height:fit-content;
    border: 10px solid rgb(202, 202, 202);
    box-shadow: 4px 4px 4px 1px rgba(50, 50, 50, 0.5);

}

/* .other2 {
    grid-column: span 7;
    background-color: rgb(185, 185, 185);
    color:black;
    font-family: "Jersey 10", sans-serif;
    font-size:21px;
    padding-left:15px;
} */

h3 {
    font-size:25px;
    padding:0px;
    margin:0px;
    padding-top:25px;
    font-family: "Times New Roman";
    font-style: italic;
    text-decoration-line: underline;
    color:rgb(144, 49, 196);
}

h4 {
    padding-left:5px;
    margin-top:0px;
    border-bottom:10px solid rgb(202, 202, 202);
    color:#f7fbff;
    margin-bottom:0px;
    font-family: "Jacquard 24", system-ui;
    font-size: 27px;
    background-image: linear-gradient(to bottom, rgb(95, 108, 255), #2251c7, #0029a5);
}

.float {
    float:right;
    width:170px;
    text-align:right;
}

.float2 {
    width:90px;
    margin-right:10px;
    margin-top:10px;
    margin-left:10px;
}

.float2:hover {
    scale: 120%;
}

.right {
    float:right;
    font-size:80px;
    margin-right:50px;
    color: rgb(54, 54, 54);
}
